@font-face {
    font-family: RobotoRegular;
    src: url(../Roboto/roboto-regular.woff2);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../Roboto/Roboto-Medium.woff2);
}

@font-face {
    font-family: GillSansNova;
    src: url(../Roboto/GillSansNova-Bold.woff2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbarNav .nav-link {
    color: white !important;
    font-size: 1.1rem;
}

.btn-section {
    padding: 2.5rem 12rem 1.7rem 12rem;
}

#navbarNav .navbar-nav .nav-item a {
    font-family: RobotoRegular;
}

.large-btn {
    padding: 0.2rem 0 !important;
    font-size: 1.5rem !important;
    width: 100%;
    background-color: #0048ff !important;
    font-family: RobotoMedium;
    color: white !important;
}

.small-btn {
    width: 49%;
    border-radius: unset !important;
    padding: 2px !important;
    box-shadow: 0px 0px 3px 1px rgb(239 239 239);
    font-size: 0.9rem !important;
    border: none !important;
    font-family: RobotoRegular;
    border: none !important;
    background-color: white !important;
    color: rgb(42, 42, 230);
}

.activeBtnSection,
.large-btn:hover {
    background-color: #0136bd !important;
    /* color: white !important; */
}

.activeBtnSection,
.small-btn:hover {
    background-color: rgb(156, 177, 246) !important;
    color: rgb(42, 42, 230) !important;
}

.navbar-nav .nav-item.active {
    color: blue !important;
}

.logo-design {
    font-family: GillSansNova;
    font-size: 1.7rem;
    text-decoration: none !important;
}

.graph-section {
    box-shadow: 0px 0px 3px 0px rgb(221 231 255);
    padding: 0; 
    font-family: RobotoMedium;
}

.graph-section-placeGenome{
    box-shadow: 0px 0px 3px 0px rgb(221 231 255);
}

.all-btn-section {
    padding: 2rem 7rem;
}

.dropdown-Btn {
    width: 100% !important;
}

.dropdown-toggle {
    width: 100% !important;
}

#uploadFile label {
    display: inline-block;
    color: white;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #0048ff;
    font-family: RobotoMedium;
    text-align: center;
}

#submitFile input {
    display: inline-block;
    color: white;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #0048ff;
    font-family: RobotoMedium;
    border: none !important;
}

.dropBtnFileType {
    color: white;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #0048ff;
    font-family: RobotoMedium;
    border: none !important;
    display: flex;
    justify-content: space-between;
}

.dropBtnFileType:hover,
.dropBtnFileType:focus {
    background-color: #2980B9;
}

.dropdownFileType {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content-FileType {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 274px;
    overflow: auto;
    box-shadow: 1px 1px 5px 1px rgb(238, 235, 235);
    z-index: 1;
    margin-top: 0.3rem;
    padding: 0.5rem;
}

.dropdown-content-FileType a {
    color: black;
    padding: 0.2rem;
    text-decoration: none;
    display: block;
    margin-bottom: 0.2rem;
}

.dropdownFileType a:hover {
    background-color: #d8d7e4;
    text-decoration: none;
    color: black;
}

.showFileTypeBtn {
    display: block;
}

.dropdownLineage{
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdownLineage a:hover {
    background-color: #d8d7e4;
    text-decoration: none;
    color: black;
}

.dropBtnLineage{
    color: white;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #0048ff;
    font-family: RobotoMedium;
    border: none !important;
    display: flex;
    justify-content: space-between;
}

.dropBtnLineage:hover,
.dropBtnLineage:focus {
    background-color: #2980B9;
}

.dropdown-content-Lineage{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 274px;
    overflow: auto;
    box-shadow: 1px 1px 5px 1px rgb(238, 235, 235);
    z-index: 1;
    margin-top: 0.3rem;
    padding: 0.5rem;
}

.dropdown-content-Lineage a {
    color: black;
    padding: 0.2rem;
    text-decoration: none;
    display: block;
    margin-bottom: 0.2rem;
}

.showLineageBtn{
    display: block;
}

.btn-toolbar {
    display: flex !important;
    justify-content: space-between !important;
}

#main_display {
    margin-top: 2rem;
}

.graph-tree-nav{
    box-shadow: 0px 0px 4px 2px rgb(239 239 239);
    background-color: #0048ff !important;
    font-family: RobotoRegular;
}

.phylotree-align-toggler{
    background-color: white;
    color: blue;
    border: 1px solid blue !important;
}

.btn:not(:disabled):not(.disabled).active {
    background-color: blue !important;
    color: white !important;

}

.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6.2rem;
    background-color: #0048ff;

}

.footer-link{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.footer-link:hover{
    color: #ebe9e9;
    text-decoration: none   ;
}

#loader-heading{
    position: absolute;
    display: none;
    left: 50%;
    top: 70%;
    z-index: 1;
    width: 30px;
    height: 30px;
    padding: 1rem; 
    text-align: center;
    margin: -45px 0 0 -45px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #0048ff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  #loader{
    position: absolute;
    left: 50%;
    top: 65%;
    z-index: 1;
    width: 30px;
    height: 30px;
    padding: 1rem; 
    text-align: center;
    margin: -45px 0 0 -45px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #0048ff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #myTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin: 0;
}

#myTable th, #myTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#myTable th {
    background-color: #f2f2f2;
}

@media (max-width: 680px) {
    .btn-section {
        padding: 2rem 5rem;
    }

    .graph-section #toolbar {
        width: 0;
    }
}

@media only screen and (min-width: 681px) and (max-width: 768px) {
    .btn-section {
        padding: 2rem 4rem 1.5rem 4rem;
    }

    .small-btn {
        width: 48%;
        font-size: 0.7rem !important;
    }

    .large-btn {
        padding: 0.2rem 0 !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .btn-section {
        padding: 2rem 6rem;
    }

    .small-btn {
        /* width: 48%; */
        font-size: 0.8rem !important;
    }
}